# Ignore build artifacts
target/
build/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE/editor config files
.idea/
.vscode/

# Ignore editor-specific files (e.g., vim swap files)
*~
*.swp

# Java build files
*.class
*.jar
*.war
*.ear
*.db
*.sqlite

# Gradle specific files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Gradle wrapper files
gradle-wrapper.jar
gradle-wrapper.properties

